# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
.venv/

# firebase cache
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log

# Logs
*.log

# IDE
.vscode/
.idea/

# AI / Codex
.codex/cache
.codex/tmp

# Misc
*.swp
